<p id="notice"><%= notice %></p>

<h1>Cus</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Emails</th>
      <th>Gtoken</th>
      <th>Acctoken</th>
      <th>Idtoken</th>
      <th>Refreshtoken</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cus.each do |cu| %>
      <tr>
        <td><%= cu.name %></td>
        <td><%= cu.emails %></td>
        <td><%= cu.gtoken %></td>
        <td><%= cu.acctoken %></td>
        <td><%= cu.idtoken %></td>
        <td><%= cu.refreshtoken %></td>
        <td><%= link_to 'Show', cu %></td>
        <td><%= link_to 'Edit', edit_cu_path(cu) %></td>
        <td><%= link_to 'Destroy', cu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cu', new_cu_path %>
